[submodule "desktop/programs/terminals/kitty/kitty_search"]
	path = desktop/programs/terminals/kitty/kitty_search
	url = https://github.com/trygveaa/kitty-kitten-search

[submodule "desktop/packages/custom/AeroSpace"]
	path = desktop/packages/custom/AeroSpace
	url = git@github.com:EcmaXp/AeroSpace.git
